<div>
  <table class="tables_showing_form">
    <thead class="thead_tables_showing_form">
    <tr>
      <th>
        <div class="innerTableTitle">{{title}}</div></th>
    </tr>
    </thead>
    <tbody>
    <tr> <optional-client-level [(partner)]="partner" [(partnerConfiguration)]="partnerConfiguration"></optional-client-level>    </tr>
    <tr> <combo-contract-entity [(partner)]="partner" [(partnerConfiguration)]="partnerConfiguration"></combo-contract-entity>    </tr>
    <tr> <combo-billing-entity [(partner)]="partner" [(partnerConfiguration)]="partnerConfiguration"></combo-billing-entity>    </tr>
    <tr> <combo-partner-type [(partner)]="partner" [(partnerConfiguration)]="partnerConfiguration"></combo-partner-type>    </tr>
    <tr> <combo-billing-status [(partner)]="partner" [(partnerConfiguration)]="partnerConfiguration"></combo-billing-status>    </tr>
    <tr> <combo-integration-status [(partner)]="partner" [(partnerConfiguration)]="partnerConfiguration"></combo-integration-status>    </tr>

    </tbody>
  </table>


</div>

