<div>
  <table class="tables_showing_form">
    <thead class="thead_tables_showing_form">
    <tr>
      <th>
        <div class="innerTableTitle">{{title}}</div></th>
    </tr>
    </thead>
    <tbody>
    <tr> <optional-client-level [(partner)]="partner"></optional-client-level>    </tr>
    <tr> <combo-contract-entity [(partner)]="partner"></combo-contract-entity>    </tr>
    <tr> <combo-billing-entity [(partner)]="partner"></combo-billing-entity>    </tr>

    </tbody>
  </table>


</div>

