<div>
  <table class="tables_showing_form">
    <thead class="thead_tables_showing_form">
    <tr>
      <th>
        <div class="innerTableTitle">{{title}}</div></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <field-with-optional class="components_situation"
        [(partner)]="partner"
        isRequired=true
        title="Client level"
        someExplanation="If Yes is selected, Client profiles under this partner will have Legal information box on Edit page."></field-with-optional>
    </tr>

    </tbody>
  </table>


</div>

