<div id="centric">
  <div class="main_title">
    {{title}}
  </div>
  <br>
  <form [formGroup]="partnerForm" (ngSubmit)="save()">
    <legal-information
      [(partner)]="partner" [(partnerConfiguration)]="partnerConfiguration" ></legal-information>

    <div class="buttons_form">
      <button class="save_button_form" type="submit" [disabled]="!form.valid">
        Add
      </button>

      <a class="btn-floating btn-large waves-effect waves-light green"
         routerLink="/partners">
        <i class="material-icons">Cancel</i>
      </a>
    </div>
  </form>

</div>
