/* You can add global styles to this file, and also import other style files */

#centric {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.main_title{
  font: normal normal bold 35px/1 "Times New Roman", Times, serif;
  width: 100%;
}

.components_situation{
  border: none;
  margin: 2%;
  padding-left: 5px;
}

.save_button_form{
  border-radius: 28px;
  font-family: Georgia;
  background: #f0f0f0;
  font-size: 15px;
  padding: 2px 15px 2px 15px;
  text-decoration: none;
}

.save_button_form:hover {
  background: #838585;
  text-decoration: none;
}

.buttons_form{
  padding-top: 20px;
}

.tables_showing_form{
  border: 2px solid #D3D3D3;
  padding: 20px;
  width: 100%;
  height: 150px;

}

.innerTableTitle{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
}

.thead_tables_showing_form {
  padding-left: 5%;
  background: #D3D3D3;
  padding-bottom: 1%;
  font-size: small;
  color: white;
}


.tbody_tables_showing_form{
  padding-left: 5%;
  padding-bottom: 5%;
  font-size: x-small;
  color: black;
}

.field_form_title{
  padding-bottom: 5px;
  border: none;
  font: normal normal bold 13px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}



.is_required_form{
  font: normal normal bold 13px/1 "Times New Roman", Times, serif;
  color: red;
}

.optional_form_comp{
  font-size: xx-small;
}

.some_explanation_form_field{
  padding-top: 4px;
  border: none;
  font: normal normal 12px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.option_button_form{
  padding: 5px;
  border: none;
  font: normal normal 15px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.combo_form{

}

